
body{
    background-color: #000000;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    color: #16ff00;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #1100ff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: #16ff00;
}