
.buttons{
    text-align: center;
    padding: 10px 20px;
    font-size: 3em;
    color: white;
    background-color: #1100ff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: #16ff00;
}

body{
    text-align: center;
    background-color: #000000;
}

h1{
    color: #16FF00;
}

h2{
    color: #16FF00;
}

#myLabel{
    color: #16FF00;
    font-size: 3em;

}