body{
    text-align: center;
    background-color: #000000;
}

#container{
    color: #16ff00;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.buttons{
    text-align: center;
    padding: 10px 20px;
    font-size: 3rem;
    color: white;
    border: none;
    background-color: #1100ff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: #16ff00;
}

.buttons.active{
    background-color:#16ff00(120, 100%, 70%)

}
input{
    font-size: 2rem;
    text-align: center;
    max-width: 150px;
    font-weight: bold;
}

#diceResult{
    color: #16ff00;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    
}

#diceImages img{
    width: 150px;
    margin: 5px;
}
